#h {left: 21px; top: 31px;}
#li {left: 21px; top: 73.6px;}
#na {left: 21px; top: 116.3px;}
#k {left: 21px; top: 159px;}
#rb {left: 21px; top: 201.6px;}
#cs {left: 21px; top: 244.3px;}
#fr {left: 21px; top: 287px;}

#be {left: 63.6px; top: 73.6px;}
#mg {left: 63.6px; top: 116.3px;}
#ca {left: 63.6px; top: 159px;}
#sr {left: 63.6px; top: 201.6px;}
#ba {left: 63.6px; top: 244.3px;}
#ra {left: 63.6px; top: 287px;}

#sc {left: 106px; top: 159px;}
#y {left: 106px; top: 201.6px;}
#lu {left: 106px; top: 244.3px;}
#lr {left: 106px; top: 287px;}

#ti {left: 149px; top: 159px;}
#zr {left: 149px; top: 201.6px;}
#hf {left: 149px; top: 244.3px;}
#rf {left: 149px; top: 287px;}

#v {left: 191.3px; top: 159px;}
#nb {left: 191.3px; top: 201.6px;}
#ta {left: 191.3px; top: 244.3px;}
#db {left: 191.3px; top: 287px;}

#cr {left: 234px; top: 159px;}
#mo {left: 234px; top: 201.6px;}
#w {left: 234px; top: 244.3px;}
#sg {left: 234px; top: 287px;}

#mn {left: 277px; top: 159px;}
#tc {left: 277px; top: 201.6px;}
#re {left: 277px; top: 244.3px;}
#bh {left: 277px; top: 287px;}

#fe {left: 319.3px; top: 159px;}
#ru {left: 319.3px; top: 201.6px;}
#os {left: 319.3px; top: 244.3px;}
#hs {left: 319.3px; top: 287px;}

#co {left: 362px; top: 159px;}
#rh {left: 362px; top: 201.6px;}
#ir {left: 362px; top: 244.3px;}
#mt {left: 362px; top: 287px;}

#ni {left: 405px; top: 159px;}
#pd {left: 405px; top: 201.6px;}
#pt {left: 405px; top: 244.3px;}
#ds {left: 405px; top: 287px;}

#cu {left: 447.6px; top: 159px;}
#ag {left: 447.6px; top: 201.6px;}
#au {left: 447.6px; top: 244.3px;}
#rg {left: 447.6px; top: 287px;}

#zn {left: 490px; top: 159px;}
#cd {left: 490px; top: 201.6px;}
#hg {left: 490px; top: 244.3px;}
#cn {left: 490px; top: 287px;}

#b {left: 533px; top: 73.6px;}
#al {left: 533px; top: 116.3px;}
#ga {left: 533px; top: 159px;}
#in {left: 533px; top: 201.6px;}
#tl {left: 533px; top: 244.3px;}
#nh {left: 533px; top: 287px;}

#c {left: 575.6px; top: 73.6px;}
#si {left: 575.6px; top: 116.3px;}
#ge {left: 575.6px; top: 159px;}
#sn {left: 575.6px; top: 201.6px;}
#pb {left: 575.6px; top: 244.3px;}
#fl {left: 575.6px; top: 287px;}

#n {left: 618px; top: 73.6px;}
#p {left: 618px; top: 116.3px;}
#as {left: 618px; top: 159px;}
#sb {left: 618px; top: 201.6px;}
#bi {left: 618px; top: 244.3px;}
#mc {left: 618px; top: 287px;}

#o {left: 661px; top: 73.6px;}
#s {left: 661px; top: 116.3px;}
#se {left: 661px; top: 159px;}
#te {left: 661px; top: 201.6px;}
#po {left: 661px; top: 244.3px;}
#lv {left: 661px; top: 287px;}

#f {left: 703.6px; top: 73.6px;}
#cl {left: 703.6px; top: 116.3px;}
#br {left: 703.6px; top: 159px;}
#i {left: 703.6px; top: 201.6px;}
#at {left: 703.6px; top: 244.3px;}
#ts {left: 703.6px; top: 287px;}

#he {left: 746px; top: 31px;}
#ne {left: 746px; top: 73.6px;}
#ar {left: 746px; top: 116.3px;}
#kr {left: 746px; top: 159px;}
#xe {left: 746px; top: 201.6px;}
#rn {left: 746px; top: 244.3px;}
#og {left: 746px; top: 287px;}

#la {left: 170px; top: 351px;}
#ce {left: 213px; top: 351px;}
#pr {left: 255px; top: 351px;}
#nd {left: 298px; top: 351px;}
#pm {left: 341px; top: 351px;}
#sm {left: 383px; top: 351px;}
#eu {left: 426px; top: 351px;}
#gd {left: 469px; top: 351px;}
#tb {left: 511.6px; top: 351px;}
#dy {left: 554px; top: 351px;}
#ho {left: 597px; top: 351px;}
#er {left: 639px; top: 351px;}
#tm {left: 682px; top: 351px;}
#yb {left: 725px; top: 351px;}

#ac {left: 170px; top: 393.6px;}
#th {left: 213px; top: 393.6px;}
#pa {left: 255px; top: 393.6px;}
#u {left: 298px; top: 393.6px;}
#np {left: 341px; top: 393.6px;}
#pu {left: 383px; top: 393.6px;}
#am {left: 426px; top: 393.6px;}
#cm {left: 469px; top: 393.6px;}
#bk {left: 511.6px; top: 393.6px;}
#cf {left: 554px; top: 393.6px;}
#es {left: 597px; top: 393.6px;}
#fm {left: 639px; top: 393.6px;}
#md {left: 682px; top: 393.6px;}
#no {left: 725px; top: 393.6px;}