header {
	background-color: rgba(93, 173, 226, 0.5);
	width: 90%;
	margin: auto;
	padding: 10px;
	border-radius: 15px;
	border-width: 5px;
}

.section {
	width: 90%;
	margin: auto;
	padding: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navul{
	list-style: none;
	overflow: hidden;
	display: inline;
}

.enlaces{
	text-decoration: none;
	color: rgb(143, 61, 61);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 10px;
    font-size: 20px;
}

.enlaces:hover {
	background-color: aqua;
}

#tit{
	color: snow;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Esta parte estaba como #h1 */
h1, h2, h3 {
    color: rgb(220, 33, 33);
}

/* Esta parte estaba como #h2 */
.subt{
    color:  rgb(220, 33, 33);
    font-size: 20px;
}

#body{
    background-color:rgb(162, 217, 206);
}

.uno{
	background-color: snow;
	border-radius: 15px;
	padding:10px;
}

.dos{
	background-color:snow;
	border-radius: 15px;
	padding:10px;
	margin: 15px;
}

.ul{
    list-style: none;
}

.imgt{
	border-radius: 5px;
	border-width: 1px;

}
